body,
html {
    overflow-x: hidden;
    background-color: #f5f5f5;
    min-height: 100vh;
}

@font-face {
    font-family: "archivo-narrow";
    src: url("../fonts/ArchivoNarrow.ttf");
}

@font-face {
    font-family: "muli-black";
    src: url("../fonts/Muli-Black.ttf");
}

@font-face {
    font-family: "muli-semibold";
    src: url("../fonts/Muli-SemiBold.ttf");
}

* {
    font-family: "muli-semibold";
}

.muli-black {
    font-family: "muli-black";
}

.archivo {
    font-family: "archivo-narrow";
}

.fs-30 {
    font-size: 30px;
}

.btn-blue {
    background-color: #202188 !important;
    color: white !important;
}

.logo {
    width: 290px;
}

header{
    background-color: #f5f5f5;
}

header::before {
    content: '';
    height: 60%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
}

.container.position-relative {
    z-index: 10000;
}